<%= simple_form_for @person, url: backoffice_person_path(@person) do |f| %>
<%= f.input :name_prefix, label: "Titul před jménem" %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :name_suffix, label: "Titul za jménem" %>
<%= f.input :date_of_birth, required: true, end_year: Date.today.year - 110, start_year: Date.today.year - 17, include_blank: true %>
<%= f.input :email %>
<%= f.association :domestic_region %>

<%= field_set_tag "Adresa bydliště" do %>
<%= f.input :domestic_address_street %>
<%= f.input :domestic_address_city %>
<%= f.input :domestic_address_zip %>
<% end %>

<%= field_set_tag "Korespondenční adresa" do %>
<%= f.input :postal_address_street %>
<%= f.input :postal_address_city %>
<%= f.input :postal_address_zip %>
<% end %>

<%= field_set_tag "Stav" do %>
<%= f.input :status, include_blank: false, collection: Person.aasm.states.map(&:name), label_method: lambda {|status| t status, scope: :person_status} %>
<%= f.input :snail_newsletter, label: "Zasílat Berana" %>
<% end %>

<%= f.button :submit, "Uložit" %>
<% end %>

<div class="jumbotron">
  <h2>Nahrát nový životopis</h2>
  <%= simple_form_for @person, url: backoffice_person_path(@person) do |f| %>
    <%= f.input :cv, label: "Soubor PDF s životopisem" %>
    <%= f.button :submit, "Uložit životopis", class: 'btn btn-success'  %>
  <% end %>
</div>
