<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Jméno</Data></Cell>
        <Cell><Data ss:Type="String">Příjmení</Data></Cell>
        <Cell><Data ss:Type="String">Ulice</Data></Cell>
        <Cell><Data ss:Type="String">Město</Data></Cell>
        <Cell><Data ss:Type="String">PSČ</Data></Cell>
        <Cell><Data ss:Type="String">Newsletter</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
      <% @people.each do |person| %>
      <Row>
        <Cell><Data ss:Type="String"><%= person.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.last_name %></Data></Cell>
        <% if person.postal_address_street.blank? %>
        <Cell><Data ss:Type="String"><%= person.domestic_address_street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.domestic_address_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.domestic_address_zip %></Data></Cell>
        <% else %>
        <Cell><Data ss:Type="String"><%= person.postal_address_street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.postal_address_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.postal_address_zip %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= person.snail_newsletter %></Data></Cell>
        <Cell><Data ss:Type="String"><%= person.status %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
