<%
  page_title "Seznam žadatelů o členství"
  render "backoffice/sidebar"
%>

<table class="table table-striped table-condensed">
  <tbody>
    <tr><th>Počet žádostí</th><td><%=@membership_requests.count%></td></tr>
    <tr><th>Nezaplacených</th><td><%=@membership_requests.reject{|r| r.paid?}.size%></td></tr>
    <tr><th>Bez přihlášky</th><td><%=@membership_requests.reject{|r| r.application_received?}.size%></td></tr>
    <tr><th>Bez rozhodnutí KrP</th><td><%=@membership_requests.reject{|r| r.approved?}.size%></td></tr>
  </tbody>
</table>

<table id="membership_requests" class="table table-striped">
  <thead>
    <tr><th>ID osoby</th><th>Jméno</th><th>Zařazen v kraji</th><th>Zařazen v pobočce</th>
      <th>Stav</th>
      <th>Poslední změna</th>
    </tr>
  </thead>
  <tbody>
    <% @membership_requests.each do |request| %>
    <tr>
      <td><%=link_to request.person_id, backoffice_person_path(request.person_id)%></td>
      <td data-order="<%=request.person.try(:last_name)%>"><%=request.person.try(:name)%></td>
      <td><%=request.person.try(:domestic_region).try(:name)%></td>
      <td><%=link_to_branch(request.person.try(:domestic_branch))%></td>
      <td><%= render partial:"people/membership_request_status", locals: {membership_request: request}%></td>
      <td data-order="<%=request.last_changed_on%>"><%=l request.last_changed_on%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= datatable "membership_requests", false %>
