<%
  page_title "Seznam zájemců o členství bez nascanované přihlášky"
  render "backoffice/sidebar"
%>

<table id="stats" class="table table-striped">
  <thead>
    <tr><th>Kraj</th><th>Počet</th></tr>
  </thead>
  <tbody>
    <% @people.group_by{|p| p.domestic_region.name}.each do |region, count| %>
      <tr><th><%=region%></th><td><%=count %></td></tr>
    <% end %>
  </tbody>
</table>


<table id="people" class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Jméno</th><th>Kraj</th><th>Stav</th></tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
    <tr><td><%=person.id%></td><td><%=link_to person.name, backoffice_person_path(person) %></td><td><%=person.domestic_region.try(:name)%></td><td><%=t person.status, scope: :person_status %></td></tr>
    <% end %>
  </tbody>
</table>

<%= datatable "people", false %>
