<% content_for 'sidebar' do %>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><%=glyph_link_to "user", "Osobní", personal_profiles_path %></li>
    <li><%=glyph_link_to "lock","Přihlašování", credentials_profiles_path %></li>
    <li><%=glyph_link_to "phone","Kontakty", contacts_profiles_path %></li>
    <li><%=glyph_link_to "phone","Identity", identities_profiles_path %></li>
    <li><%=glyph_link_to "envelope","Adresy", addresses_profiles_path %></li>
    <li><%=glyph_link_to "globe","Hostování", guesting_profiles_path %></li>
    <li><%=glyph_link_to "globe","Členství", membership_profiles_path %></li>
  </ul>
</div>
<% end %>
