<%
  page_title "Adresy"
  render 'sidebar'
#breadcrumb(:branch, @branch)
%>

<%= simple_form_for current_person, url: request.original_url, as: 'person' do |f| %>
<%= f.error_notification %>
  <%= field_set_tag "Adresa bydliště" do %>
    <p>Adresa Vašeho trvalého bydliště tak, jak ji máte zapsanou v občanském průkazu. Podle této adresy příslušíte ke krajskému sdružení.</p>
    <%= f.input :domestic_address_street %>
    <%= f.input :domestic_address_city %>
    <%= f.input :domestic_address_zip %>
    <%= f.association :domestic_region %>
  <% end %>
  <%= field_set_tag "Korespondenční adresa" do %>
    <p>Vaše korespondenční adresa</p>
    <%= f.input :postal_address_street %>
    <%= f.input :postal_address_city %>
    <%= f.input :postal_address_zip %>
  <% end %>

  <%= field_set_tag "Časopis Beran" do %>
    <%= f.input :snail_newsletter, label: 'Chci dostávat tištěný časopis Beran na mou adresu' %>
  <% end %>

  <%= f.button :submit, value: "Uložit", class: 'btn btn-success pull-right' %>
<% end %>
