<%
page_title "Sdílení kontaktů - Vaše kontaktní údaje"
#breadcrumb(:branch, @branch)
%>

<%= render('profiles/nav') %>

<table class="table table-striped">
  <% for contact in current_person.contacts %>
  <tr><th><%=contact.contact_type%></th>
    <td><%= auto_link contact.contact %></td>
    <td><%= contact.privacy %></td>
    <td><%= button_to 'Upravit', edit_contact_path(contact), method: :get %></td>
    <td><%= button_to 'Smazat', contact, method: :delete, data: { confirm: 'Opravdu chcete smazat tento kontakt?' } %></td>
  </tr>
  <% end %>
</table>
<%= button_to 'Přidat kontakt', new_person_contact_path(current_person), method: :get %>
