<%
  page_title "Přihlašovací údaje"
  render 'sidebar'
#breadcrumb(:branch, @branch)
%>
<div class="panel panel-default">
<div class="panel-heading">Změna přihlašovacího jména</div>
<div class="panel-body">
<%= simple_form_for current_person, url: request.original_url, as: 'person' do |f| %>
<%= f.error_notification %>
<%= f.input :username %>
<%= f.button :submit, value: "Uložit", class: 'btn btn-success pull-right' %>
<% end %>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Změna hesla</div>
<div class="panel-body">
<%= simple_form_for current_person, url: request.original_url, as: 'person' do |f| %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.button :submit, value: "Uložit", class: 'btn btn-success pull-right' %>
<% end %>
</div>
</div>

<% providers = %w(Facebook Twitter MojeID)%>

<div class="panel panel-default">
  <div class="panel-heading">Přihlašování přes sociální sítě</div>
<% if @identities.size < providers.size %>
<div class="panel-body">Pro přihlašování do registru můžete využít i externí služby. Např. Facebook nebo Twitter.</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr><th>Služba</th><th></th></tr>
  </thead>
  <tbody>
  <% for provider_name in providers %>
  <% provider = provider_name.downcase %>
  <% identity = @identities.detect{|i| i.provider==provider} %>
  <tr>
    <th><%= provider_name %></th>
    <% if identity %>
      <td>Nastaveno (<%= identity.uid %>)</td>
      <%#= button_to 'Odebrat', identity, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Opravdu chcete smazat tento kontakt?' } %>
    <% else %>
      <td><%= button_to "Nastavit", omniauth_authorize_path(current_person, provider) %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<a name="webdav"></a>
<div class="panel panel-default">
<div class="panel-heading">Přihlašování do files.svobodni.cz přes WebDAV</div>
<div class="panel-body">
  <table class="table">
    <tbody>
      <% url = "https://s#{current_person.id}:#{flash[:password]}@dav.svobodni.cz" %>
      <tr><th>WebDAV server:</th><td><%= link_to url, url %></td></tr>
      <tr><th>Přihlašovací jméno:</th><td>s<%=current_person.id%></td></tr>
      <tr><th>Heslo:</th>
        <td>
          <% if flash[:password].blank? %>
            <%= form_tag("/webdav_passwords", method: "post") do %>
            <%= submit_tag("Vygenerovat nové heslo pro webdav", class: "btn btn-warning", data: { confirm: "Heslo slouží pro přístup na files.svobodni.cz protokolem webdav. Vygenerováním nového hesla zneplatníte předchozí (pokud už nějaké máte). Opravdu chcete vygenerovat nové heslo?" }) %>
            <% end %>
          <% else %>
            <%= flash[:password] %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Návod", "https://files.svobodni.cz/rep/pro-%C4%8Dleny/n%C3%A1vody/navod-na-files.pdf", class: "btn btn-info" %>
</div>
</div>
