<%
  page_title "Osobní údaje"
  render 'sidebar'
#breadcrumb(:branch, @branch)
%>

<%= simple_form_for current_person, url: request.original_url, as: 'person' do |f| %>
  <%= f.error_notification %>
  <%= f.input :id, disabled: true %>
  <%= f.input :name_prefix, hint: "Ing. / Bc. / Mgr.", label: "Titul před jménem" %>
  <%= f.input :first_name, disabled: true %>
  <%= f.input :last_name, disabled: true %>
  <%= f.input :name_suffix, hint: "CSc. / PhD.", label: "Titul za jménem" %>
  <%= f.input :date_of_birth, disabled: true %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.button :submit, value: "Uložit", class: 'btn btn-success' %>
<% end %>

<hr>
<h2>Životopis</h2>
<p>Do systému můžete uložit Váš životopis ve formátu PDF. Bude se pak zobrazovat vedle Vašeho záznamu např. i ve volebním systému, pokud budete kandidovat.</p>
<% if current_person.cv %>
<p>Aktuálně máte nahrán tento <%= link_to "Váš životopis", current_person.cv_url %></p>
<% end %>

<p>Zde můžete nahrát nový životopis: </p>
<%= simple_form_for current_person, url: request.original_url, as: 'person' do |f| %>
  <%= f.input :cv, label: "Soubor PDF s životopisem" %>
  <%= f.button :submit, "Uložit životopis", class: 'btn btn-success'  %>
<% end %>

<hr>
<h2>Fotografie</h2>

<div class="row">
  <% current_person.profile_pictures.each do |pp| %>
    <div class="col-sm-2">
      <%= link_to "Originál", pp.photo.url %>
      <%= image_tag pp.photo.url(:legacy) %>
    </div>
  <% end %>
</div>

<p>Zde můžete nahrát novou fotografii. Nahrajte soubor s jednou osobou s jasně rozpoznatelným obličejem. Fotografie bude automaticky oříznuta.</p>
<%= simple_form_for current_person.profile_pictures.new do |f| %>
  <%= f.input :photo, label: "Fotografie" %>
  <%= f.button :submit, "Uložit fotografii", class: 'btn btn-success'  %>
<% end %>
