<% content_for 'sidebar' do %>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%=@branch.name%></li>
    <li><%= link_to_unless_current "Koordinátor", branch_path(@branch) %></li>
    <li><%= link_to_unless_current "Sdílené kontakty", branch_contacts_path(@branch) %></li>
    <% if can? :supervise, @branch  %>
    <hr>
    <li><%= glyph_link_to 'lock', "Členové", domestic_members_branch_path(@branch) %></li>
    <li><%= glyph_link_to 'lock', "Příznivci", domestic_supporters_branch_path(@branch) %></li>
    <li><%= glyph_link_to 'lock', "Hostující", guest_people_branch_path(@branch) %></li>
    <li><%= glyph_link_to 'lock', "Zájemci o členství", awaiting_domestic_people_branch_path(@branch) %></li>
    <li><%= glyph_link_to 'lock', "Neprodloužení členové", unpaid_domestic_members_branch_path(@branch) %></li>
    <li><%= glyph_link_to 'lock', "Mapa", map_branch_path(@branch) %></li>
    <li><%= glyph_link_to 'lock', "Export", branch_people_path(@branch, format: :xls) %></li>
    <% end %>
    <li><%= link_to_unless_current  'Úkoly', branch_tasks_path(@branch) %></a></li>
  </ul>
</div>
<% end %>
