<%
	page_title 'Pobočky'
	if @region
    breadcrumb(:region_branches, @region)
	  render 'regions/sidebar'
	else
	  render 'backoffice/sidebar'
	end
%>

<table id="branches" class="table table-striped">
<thead><tr><th>Název pobočky</th><th></th><th>Koordinátor</th><th>Telefon</th><th>Email</th><th>Kmenoví členové</th></thead>
<tbody>
<% @branches.each do |branch| %>
<tr>
<td><%= link_to branch.name, branch %></td>
<td>
	<%= fa_link_to('globe', branch.homepage_url) unless branch.homepage_url.blank? %>
	<%= fa_link_to('facebook', branch.fb_page_url) unless branch.fb_page_url.blank? %>
</td>
<td><%= link_to(branch.coordinator.try(:person).try(:name), branch.coordinator.try(:person)) if branch.coordinator %></td>
<td><%= tel_to branch.coordinator.try(:person).try(:phone) %></td>
<td><%= mail_to branch.coordinator.try(:person).try(:email) %></td>
<td><%= branch.domestic_members.count %></td>
</tr>
<% end %>
</tbody>
</table>
