<% 
	page_title 'Pobočky'
  	breadcrumb(:region_branches, @region) if @region
%>
<%= render('regions/nav') if @region %>
<table class="table table-striped">
<thead><tr><th>Název pobočky</th><th>Koordinátor</th><th>Telefon</th><th>Email</th><th>Web</th><th>Kmenoví členové</th></thead>
<tbody>
<% @branches.each do |branch| %>
<tr>
<th><%= link_to branch.name, branch %></th>
<td><%= branch.coordinator.try(:person).try(:name) %></td>
<td><%= branch.coordinator.try(:person).try(:phone) %></td>
<td><%= mail_to branch.coordinator.try(:person).try(:email) %></td>
<td>  <% unless branch.homepage_url.blank? %>
  [<%=link_to "web", branch.homepage_url %>]
  <% end %></td>
<td><%= branch.domestic_members.count %></td>
</tr>
<% end %>
</tbody>
</table>
