<tr>
	<td><%=image_tag person.photo_url, width: '50px' %></td>
	<td><%=link_to person.name, person%></td>
	<td><%=mail_to person.email%></td>
	<td><%=tel_to person.phone%></td>
	<td><%=person.domestic_ruian_address.try(:mestska_cast)%></td>
</tr>	