  <!-- <h1 class="page-header">Hlavní rozcestník člena</h1> -->
  <div class="row" style="margin-top: 2.5em">
    <div class="col-md-4">
        <div class="panel panel-default" style="border: 1px solid #00654E">
            <div class="panel-body bg-success">
                <div class="text-center">
                    <h3>Volební systém</h3>
                    <p class="small">
                        Ve volebním systému naleznete volební místnost, archiv volebních protokolů a možnost podání kandidatury do nadcházejících voleb.
                    </p>
                    <a href="https://vs.svobodni.cz" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-hand-up fa-2x"></i> vs.svobodni.cz</a>
                </div>
            </div>
        </div>
        <div class="panel" style="border: 1px solid #00654E">
            <div class="panel-body bg-success">
                <div class="text-center">
                    <h3>Úložiště</h3>
                    <div class="m">

                    </div>
                    <p class="small">
                        Zde najdete oficiální dokumenty centrálních i krajských orgánů, vybrané dokumenty a návody.
                    </p>
                    <a href="https://files.svobodni.cz" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-save-file fa-2x"></span> files.svobodni.cz</a>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel" style="border: 1px solid #00654E">
            <div class="panel-body bg-success">
                <div class="text-center">
                    <h3>Fórum</h3>
                    <div class="m">

                    </div>
                    <p class="small">
                        Diskusní fórum se sekcemi pro členy, příznivce, orgány strany a pro prezentaci kandidátů.
                    </p>
                    <a href="https://forum.svobodni.cz" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-comment fa-2x"></i> forum.svobodni.cz</a>
                </div>
            </div>
        </div>
        <div class="panel" style="border: 1px solid #00654E; min-height: 100%">
            <div class="panel-body bg-success">
                <div class="text-center">
                    <h3>Wiki</h3>
                    <div class="m">

                    </div>
                    <p class="small">
                        Informační stránky, databáze návodů, postupů a znalostí, kam může přispívat každý člen.
                    </p>
                    <a href="https://wiki.svobodni.cz" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-education fa-2x"></i> wiki.svobodni.cz</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel" style="border: 1px solid #00654E">
            <div class="panel-body bg-success">
                <div class="text-center">
                    <h3>Sdílení kontaktů</h3>
                    <div class="m">

                    </div>
                    <p class="small">
                        Členové a příznivci sdílí své kontakty.<br /> Najděte Svobodné ve Vašem okolí.
                    </p>
                    <a href="<%=contacts_path %>" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-user fa-2x"></i> Kontakty</a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
      <!--
  <a href="">
  <img src="<%= @person.photo_url %>" width="200">
  </a>
  -->
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
    <h2><%= @person.name %></h2>
    <p><!-- TODO , student --></p>
    <% unless @person.roles.blank? %>
    <ul>
      <% for role in @person.roles %>
      <li>
        <% if role.branch %>
          <%= link_to role.role_long_name, role.branch %>
        <% elsif role.body.organization.class==Region %>
          <%= link_to role.role_name, role.body %>
          <%= link_to "Finance", "https://finance.svobodni.cz/organizations/#{role.body.organization.id}", class: "btn btn-info btn-xs" %>
          <%= link_to "Kraj", region_path(role.body.organization), class: "btn btn-info btn-xs" %>
        <% else %>
          <%= link_to role.role_name, role.body %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <!-- TODO
    <ul>
      <li>příznivce Svobodných</li>
      <li>zájemce o členství</li>
      <li>místopředseda KrP Praha</li>
    </ul>
  -->
    <h3>Vaše údaje&nbsp;<%= link_to "Aktualizovat", profiles_path, class: "btn btn-info btn-xs pull-right" %></h3>
    <p>Adresa bydliště: <b><%= @person.domestic_address_line %></b></p>
    <p>Krajské sdružení: <%= link_to @person.domestic_region.name, @person.domestic_region %></p>
    <p>Pobočka: <% if @person.domestic_branch.nil? %>
       a v místě není žádná pobočka.
      <% else %>
       <%= link_to @person.domestic_branch.name, @person.domestic_branch %>
      <% end %>
    </p>
    <!-- TODO
    <p>Výše uvedená adresa je i korespondenční a budeme Vám na ni zasílat občasník Beran.</p>
  -->
    <p>
      <% if @person.guest_branch.nil? %>
        <% if @person.guest_region.nil? %>
          Nehostujete v žádném jiném kraji nebo pobočce.
        <% else %>
          Hostujete v krajském sdružení <%= link_to @person.guest_region.name, @person.guest_region %>
        <% end %>
      <% else %>
        Hostujete v pobočce: <%= link_to @person.guest_branch.name, @person.guest_branch %>
      <% end %>
    </p>
    <h3>Sdílené kontakty</h3>
    <table class="table">
      <% for contact in @person.contacts %>
      <tr>
        <td>
          <% if contact.contact_type =="mobile-phone" %>
            <span class="glyphicon glyphicon-phone"></span>
          <% elsif contact.contact_type =="email" %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% elsif contact.contact_type =="web" %>
            <span class="glyphicon glyphicon-globe"></span>
          <% else %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <br>
        </td>
        <td><%= auto_link contact.contact %></td>
        <td><%= Contact.privacies.detect{|p| p[1]==contact.privacy}.try(:first) %></td>
      </tr>
      <% end %>
    </table>
    <span class="pull-right">
    <%= link_to "Aktualizovat", contacts_profiles_path, class: "btn btn-info" %>
    </span>
  </div>
</div>
</div>
  <div class="col-md-6">

  </div>

<div class="col-md-3">
  <!--
  <h2 class="sub-header">Nadcházející události</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Čas</th>
          <th>Popis</th>
          <th>Místo</th>
          <th>Akce</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. dubna 2015</td>
          <td>18:00-19:30</td>
          <td>Beseda s Petrem Machem
            <br>
          </td>
          <td>Opletalova 55, Praha 1
            <br>
          </td>
          <td>
            <a class="btn btn-xs btn-success">Přihlásit se</a>
          </td>
        </tr>
        <tr>
          <td>1. května 2015
            <br>
          </td>
          <td>14:00-16:30
            <br>
          </td>
          <td>Oslava</td>
          <td>Jungmannovo nám.</td>
          <td>
            <a class="btn btn-xs btn-success">Přihlásit se</a>
            <br>
          </td>
        </tr>
        <tr>
          <td>8. května 2015
            <br>
          </td>
          <td>14:00-16:30
            <br>
          </td>
          <td>Oslava
            <br>
          </td>
          <td>Jungmannovo nám.
            <br>
          </td>
          <td>
            <a class="btn btn-xs btn-success">Přihlásit se</a>&nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  -->
  <div class="panel panel-default" style="border: 1px solid #00654E">
  <div class="panel-heading"><h2 class="panel-title">Aktuality</h2></div>
  <table class="table">
    <tbody>
      <% cache(:news_feed, :expires_in => 5.minutes) do %>
      <% for item in NewsFeed.items %>
      <tr>
        <td>před <%= distance_of_time_in_words_to_now item.created_at %></td>
        <td><%= auto_link item.text %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  </div>

  <h4>Další funkce registru</h4>

  <% unless flash[:password].blank? %>
  <h4>Heslo pro webdav</h4>
  <dl class="dl-horizontal">
    <dt>Heslo</dt><dd><%= flash[:password] %></dd></tr>
  </dl>
  <% end %>

  <%= form_tag("/webdav_passwords", method: "post") do %>
  <%= submit_tag("Vygenerovat nové heslo pro webdav", class: "btn btn-warning", data: { confirm: "Heslo slouží pro přístup na files.svobodni.cz protokolem webdav. Vygenerováním nového hesla zneplatníte předchozí (pokud už nějaké máte). Opravdu chcete vygenerovat nové heslo?" }) %>
  <% end %>
