<%
	page_title @person.name
	breadcrumb :person, @person
%>

<%
  page_title @person.name
  breadcrumb :person, @person
%>

<div class="row">

  <div class="col-md-6">
    <table class="table table-striped">
      <tr><th></th><td><img src="<%= @person.photo_url %>"></td></tr>
      <tr><th>Jméno</th><td><%= @person.name %></td></tr>
      <tr><th>Kraj</th><td><%= link_to @person.domestic_region.name, @person.domestic_region %></td></tr>
      <% if @person.guest_region %>
      <tr><th>Hostuje v kraji</th><td><%= link_to @person.guest_region.try(:name), @person.guest_region %></td></tr>
      <% end %>
    </table>

  </div>

  <div class="col-md-6">
    Doplňující údaje z registru:

    <% if @person.domestic_branch || @person.guest_branch %>
    <h4>Pobočka</h4>
    <% if @person.domestic_branch %>
    <div>Spadám do pobočky <%= link_to @person.domestic_branch.try(:name), @person.domestic_branch %></div>
    <% end %>
    <% if @person.guest_branch %>
    <div>Hostuji v pobočce <%= link_to @person.guest_branch.try(:name), @person.guest_branch %></div>
    <% end %>
    <% end %>

    <% unless @person.roles.blank? %>
    <h4>Moje funkce ve Svobodných</h4>
    <table class="table">
      <% for role in @person.roles %>
      <tr><td><%= link_to role.role_long_name, role.body || role.branch %></td><td>od <%= l role.since %> <%= role.till.to_s=="2099-01-01" ? nil : "- do #{l role.till}" %></td></tr>
      <% end %>
    </table>
    <% end %>
    <h4>Sdílení kontaktů - Moje kontaktní údaje</h4>
    <table class="table table-striped">
      <% for contact in @person.contacts.accessible_by(current_ability) %>
      <tr><th><%=contact.contact_type%></th>
      <td>
        <% if contact.contact_type == "email" %>
          <%= mail_to contact.contact, contact.contact %>
        <% elsif contact.contact.match(/^http/) %>
          <%= link_to contact.contact, contact.contact %>
        <% else %>
          <%= contact.contact %>
        <% end %>
      </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
