<%
  page_title 'Seznam kandidátních listin'
  render 'sidebar'
%>


<%= link_to("Nahrát novou", new_candidates_list_path, class: "btn btn-primary pull-right") if can?(:upload, CandidatesList)%>

<table class="table">
  <thead>
    <tr>
      <th>Název zastupitelstva</th><th>Počet míst</th><th>Počet kandidátů</th><th>Poznámka</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates_lists.each do |candidates_list| %>
    <tr>
      <td><%= candidates_list.nazev_zastupitelstva %></td>
      <td><%= candidates_list.pocet_clenu_zastupitelstva %></td>
      <td><%= candidates_list.kandidati.size %></td>
      <td><%= candidates_list.poznamka %></td>
      <td><%= link_to("Detail", candidates_list) if can?(:read, CandidatesList)%> <%=link_to("Upravit", edit_candidates_list_path(candidates_list)) if can?(:upload, CandidatesList)%></td>
    </tr>
    <% end %>
  </tbody>
</table>
