<%
  if params[:region_id]
    render 'regions/sidebar'
  elsif params[:branch_id]
    render 'branches/sidebar'
  else
    render 'bodies/sidebar'
  end
%>

<%= bootstrap_form_for(task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>g
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, label: 'Název', id: :task_name, :required => true %>
  </div>

  <div class="field">
    <%= form.text_area :description, label: 'Popis',id: :task_description, :class => "tinymce" %>
  </div>

  <%= tinymce %>
  <%= form.hidden_field :organization_id, :value => @organization.id %>

  <div class="form-group">
    <label class="control-label" for="task_tag_list">Štítky</label>
    <%= select("task","tag_list",options_for_select(ActsAsTaggableOn::Tag.all.map(&:name), task.tag_list), { include_blank: false }, {:multiple => true, :class => "form-control" } )%>
  </div>

  <%= form.submit 'Potvrdit',class: 'btn btn-danger' %>

  <%= link_to 'Zpět', :back , class: 'btn btn-primary' %>

<% end %>
