<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <% if person_signed_in? %>

        <%= link_to 'Nový štítek', new_tag_path(organization_id: @organization.id), class: 'btn btn-primary' %>

        <%= link_to 'Nový úkol', send("new_#{@org_type}_task_path",@organization), class: 'btn btn-success' %>

      <% else %>
        <%= link_to('Login', new_person_session_path, class: 'btn btn-primary' )  %>
        <%= link_to('Nová registrace', new_person_registration_path, class: 'btn btn-primary' )  %>
      <% end %>
    </div>
  </div>
</div>
<br>

<%

  if params[:region_id]
    render 'regions/sidebar'
  elsif params[:branch_id]
    render 'branches/sidebar'
  else
    render 'bodies/sidebar'
  end
%>


<h1>Úkoly</h1>

<%= grid(@tasks_grid) do |g|

  g.column name: 'Jméno', attribute: 'name' do |task|
    link_to task.name, send("#{@org_type}_task_path",@organization,task)
  end

  g.column name: 'Zadavatel', attribute: 'email', assoc: :author, table_alias: 'people'   do |task|
    task.author&.email
  end

  g.column name: 'Řešitel', attribute: 'email', assoc: :person do |task|
    task.person&.email
  end

  g.column name: 'Vytvořen', attribute: 'created_at' do |task|
    task.created_at&.to_date
  end

  g.column name: 'Přidělen', attribute: 'assigned_at' do |task|
    task.assigned_at&.to_date
  end

  g.column name: 'Dokončen', attribute: 'finished_at' do |task|
    task.finished_at&.to_date
  end

  g.column name: 'Akceptován', attribute: 'reviewed_at' do |task|
    task.reviewed_at&.to_date
  end

  g.column name: 'Štítky', assoc: :tags, attribute: 'name', table_alias: 'tags'  do |task|
    task.tags.map(&:name).join(' ')
  end

  g.column do |task|
    task_action_buttons_to(task)
  end

  g.column do |task|
    if can? :edit, task
      link_to('Editovat', send("edit_#{@org_type}_task_path",@organization,task))
    end
  end

end -%>