<%

  if params[:region_id]
    render 'regions/sidebar'
  elsif params[:branch_id]
    render 'branches/sidebar'
  else
    render 'bodies/sidebar'
  end
%>

<h1>
  <%= @task.name %>
</h1>

<p>
  <strong>Popis:</strong>
  <%= raw @task.description %>
</p>

<p>
  <strong>Zadavatel:</strong>
  <%= @task.author.email %>
</p>

<p>
  <strong>Řešitel:</strong>
  <%= @task.person&.email %>
</p>

<p>
  <strong>Štítky:</strong>
  <%= @task.tag_list %>
</p>

<p>
  <strong>Vytvořen:</strong>
  <%= @task.created_at&.to_date %>
</p>

<p>
  <strong>Přiřazen:</strong>
  <%= @task.assigned_at&.to_date %>
</p>

<p>
  <strong>Dokončen:</strong>
  <%= @task.finished_at&.to_date %>
</p>

<p>
  <strong>Akceptován:</strong>
  <%= @task.reviewed_at&.to_date %>
</p>

<% if can? :update, @task %>
  <%= link_to('Edit', send("edit_#{@org_type}_task_path",@organization,@task)) + ' | ' %>
<% end %>

<%= link_to 'Zpět', send("#{@org_type}_tasks_path",@task.organization_id), class: 'btn btn-primary' %>
