<% content_for 'sidebar' do %>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">Backoffice</li>
    <li><%= link_to_unless_current "Osoby", backoffice_people_path %>
      <ul>
        <li><%= link_to_unless_current "Vyhledat", backoffice_people_path %></li>
        <li><%= link_to_unless_current "Bez adresy", with_unknown_address_backoffice_people_path %></li>
        <li><%= link_to_unless_current "Bez přihlášky", without_signed_application_backoffice_people_path %></li>
        <li><%= link_to_unless_current "Špatný kraj", with_bad_region_backoffice_people_path %></li>
      </ul>
    </li>
    <% if can? :destroy, Role %>
    <li><%= link_to_unless_current "Funkce", roles_path %>
      <ul>
        <li><%= link_to_unless_current "Nová funkce", new_role_path %>
      </ul>
    </li>
    <% end %>
    <li><%= link_to_unless_current "Pobočky", branches_path %></li>
    <ul>
      <% if can? :create, Branch %>
      <li><%= link_to_unless_current "Nová pobočka", new_branch_path %>
      <% end %>
    </ul>
  </ul>
</div>
<% end %>
