<%
  page_title "Sdílení kontaktů Svobodných"
  if @branch
    breadcrumb(:branch_contacts, @branch)
    render 'branches/sidebar'
  elsif @region
    breadcrumb(:region_contacts, @region)
    render 'regions/sidebar'
  end

%>

<table id="contacts" class="table table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Jméno</th>
      <th>Funkce</th>
      <th>Kraj</th>
      <th>Pobočka</th>
      <th>Telefon</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |person, cs| %>
      <tr>
        <td><%= image_tag person.photo_url, width: '50px' %></td>
        <td><%= link_to person.name, person %></td>
        <td><%= person.roles.collect(&:role_name).uniq.join(', ') %></td>
        <td><%= [person.domestic_region.try(:name), person.guest_region.try(:name)].compact.join(' / ') %></td>
        <td><%= [person.domestic_branch.try(:name), person.guest_branch.try(:name)].compact.join(' / ') %></td>

        <td><%= cs.select{|c| c.contact_type=='phone'}.collect{|c| tel_to c.contact}.join(', ').html_safe %></td>
        <td><%= cs.select{|c| c.contact_type=='email'}.collect{|c| mail_to c.contact}.join(', ').html_safe %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= datatable :contacts %>
