<%
  page_title "Sdílení kontaktů Svobodných"
  breadcrumb(:branch_contacts, @branch) if @branch
  breadcrumb(:region_contacts, @region) if @region
%>

<%= render('regions/nav') if @region %>
<%= render('branches/nav') if @branch %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Jméno</th>
      <th>Funkce</th>
      <th>Kraj</th>
      <th>Pobočka</th>
      <th>Telefon</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |person, cs| %>
      <tr>
        <td><%= image_tag person.photo_url, width: '50px' %></td>
        <td><%= link_to person.name, person %></td>
        <td><%= person.roles.collect(&:role_name).join(', ') %></td>
        <td><%= [person.domestic_region.try(:name), person.guest_region.try(:name)].compact.join(' / ') %></td>
        <td><%= [person.domestic_branch.try(:name), person.guest_branch.try(:name)].compact.join(' / ') %></td>
        
        <% %w{phone email}.each do |col| %>
        <td><%= cs.select{|c| c.contact_type==col}.collect(&:contact).join(', ') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
