<%
  page_title 'Přihlášení příznivce za člena'
  render 'profiles/sidebar'
  breadcrumb(:profile_membership)
%>

<%= simple_form_for(current_person, url: supporter_memberships_path, method: :post) do |f| %>

<div class="form-inputs">
  <fieldset>
    <legend>Základní údaje</legend>
    <%= f.input :amount,
          required: true,
          label: "Členský příspěvek na rok 2017",
          collection: %w(300 500 750 1000 1500 2000 5000 7500 10000 15000 20000 25000 30000 50000).collect{|i| ["#{i} Kč", i]}.to_h,
          hint: "minimálně 1000 Kč<br>studenti a důchodci minimálně 300 Kč<br>Při placení členského příspěvku můžete odečíst příznivecký příspěvek zaplacený v tomto roce.".html_safe %>
  </fieldset>

  <fieldset>
    <legend>Politická minulost</legend>
    <%= f.input :previous_political_parties, label: "Byl jsem členem následujících stran", hint: "(např: OF 1989-1990, ...)" %>
    <%= f.input :previous_candidatures, label: "Kandidoval jsem za tyto strany", hint: "(např: OF 1989-1990, ...)" %>
  </fieldset>

  <fieldset>
    <legend>Prohlášení</legend>
    <%= f.input :agree, inline_label: 'Prohlašuji, že', as: :boolean %>
  <ul>
  <small>
  <li>nejsem členem jiné strany a splňuji podmínky příznivectví podle článku 4 <a target="_blank" href="http://files.svobodni.cz/svobodni/Stanovy-2011.pdf">stanov</a></li>
  <li>souhlasím se stanovami a s programem strany, především s programovým prohlášením článku 2 <a target="_blank" href="http://files.svobodni.cz/svobodni/Stanovy-2011.pdf">stanov</a></li>
  <li>nebyl jsem členem Lidových milicí ani spolupracovníkem či agentem STB</li>
  <li>všechny údaje v tomto formuláři jsou pravdivé a souhlasím s jejich zpracováním Stranou svobodných občanů</li>
  </small>
  </ul>

  </fieldset>
</div>

<div class="form-actions pull-right">
  <%= f.button :submit, "Zaregistrovat" %>
</div>

<% end %>
</div>
