<%
	page_title 'Funkce ve Svobodných'
	render 'backoffice/sidebar'
%>
<%=link_to "Nová funkce", new_role_path, class: "btn"%>
<table id="roles" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Kraj</th>
			<th>Organizace/Pobočka</th>
			<th>Funkce</th>
			<th>Jméno</th>
			<th>Telefon</th>
			<th>Email</th>
			<th>Od</th>
			<th>Do</th>
			<th>Akce</th>
		</tr>
	</thead>
	<tbody>
		<% for role in @roles %>
		<tr>
			<% if role.body %>
				<td><%= role.body.organization.name %></td>
				<td><%= role.body.organization.name %></td>
			<% else %>
				<td><%= role.branch.region.name %></td>
				<td><%= link_to role.branch.name, role.branch %></td>
			<% end %>
			<td><%= role.role_name %></td>
			<td><%= link_to(role.person.name, person_path(role.person)) %></td>
			<td><%= role.person.phone %></td>
			<td><%= role.person.email %></td>
			<td data-order="<%= role.since %>"><%= l role.since %></td>
			<td data-order="<%= role.till %>"><%= l role.till %></td>
			<td><%= link_to("Ukončit funkci", role_path(role), {method: :delete, class: 'btn btn-default btn-xs'}) if can?(:destroy, role) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= datatable :roles %>
