<% content_for 'sidebar' do %>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%=@region.name%></li>
    <li><%= link_to_unless_current "Předsednictvo", region_body_path(@region) %></li>
    <li><%= link_to_unless_current "Pobočky", region_branches_path(@region) %></li>
    <li><%= link_to_unless_current "Sdílené kontakty", region_contacts_path(@region) %></li>
    <% if can? :supervise, @region  %>
    <hr>
    <%#= glyph_link_to 'lock', "Městské části", mestske_casti_region_path(@region) %>
    <%#= glyph_link_to 'lock', "Okresy", okresy_region_path(@region) %>
    <li><%= glyph_link_to 'lock', "Zájemci o členství", awaiting_domestic_people_region_path(@region) %></li>
    <li><%= glyph_link_to 'lock', "Členové", domestic_members_region_path(@region) %></li>
    <li><%= glyph_link_to 'lock', "Příznivci", domestic_supporters_region_path(@region) %></li>
    <li><%= glyph_link_to 'lock', "Hostující", guest_people_region_path(@region) %></li>
    <li><%= glyph_link_to 'lock', "Mapa", map_region_path(@region) %></li>
    <li><%= glyph_link_to 'lock', "Export", region_people_path(@region, format: :xls) %></li>
    <% end %>
  </ul>
</div>
<% end %>
