<%
	page_title 'Zájemci o členství'
	breadcrumb(:region, @region)
	render "regions/sidebar"
%>

<table id="awaiting_domestic_people" class="table table-striped">
	<thead>
		<tr><th>ID</th><th>Jméno</th><th>Stav</th><th>Poslední změna</th><th>Pobočka</th><th></th></tr>
	</thead>
	<tbody>
<% @region.awaiting_domestic_people.includes(:domestic_ruian_address).accessible_by(current_ability).reverse.each do |member| %>
<tr>
<td><%= member.vs %></td>
<td data-order="<%=member.last_name%>"><%= link_to member.name, member %></td>
<td><%= render partial:"people/membership_request_status", locals: {membership_request: member.membership_request}%></td>
<td data-order="<%=member.membership_request.last_changed_on%>"><%=l member.membership_request.last_changed_on%></td>
<td><%= member.domestic_branch.try(:name) %></td>
<td>
	<%= link_to_member_application(member)%>
	<%=button_to("Vyznačit schválení", approve_person_path(member), class: "btn btn-xs", data: { confirm: "Opravdu chcete vyznačit schválení? (#{member.id} #{member.short_name})"}) if member.is_awaiting_presidium_decision?%>
	<%=button_to("Vyznačit zamítnutí", reject_person_path(member), class: "btn btn-xs", data: { confirm: "Opravdu chcete vyznačit neschválení? (#{member.id} #{member.short_name})"}) if member.is_awaiting_presidium_decision?%>
</td>
</tr>

<% end %>
</tbody>
</table>

<%= datatable :awaiting_domestic_people %>
