<h1>Krajská sdružení</h1>
<table class="table">
	<thead>
		<tr>
			<th>Kraj</th>
			<th>Předseda</th>
			<th>Počet členů</th>
			<th>Počet poboček</th>
		</tr>
	</thead>
	<tbody>
		<% for region in @country.regions.order(:nuts3_id).all %>
		<tr>
			<td><strong><%= link_to region.name, region %></strong></td>
			<td><%= region.presidium.president.try(:name) %></td>
			<td><%= region.domestic_members.count %></td>
			<td><%= region.branches.count %></td>
			<td><%= region.domestic_people.reject{|p| p.domestic_address_ruian_id}.count %></td>
		</tr>
		<% end %>
	</tbody>
</table>