<%
  page_title "#{@region.name}"
  breadcrumb :region, @region
%>

<style type="text/css">
#map-canvas {
  width:100%;
  height:480px;
}
</style>
<h1><%= @region.name %></h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#presidium" data-toggle="tab">Předsednictvo</a></li>
  <li><a href="#branches" data-toggle="tab">Pobočky</a></li>
  <li><a href="#mestska_cast" data-toggle="tab">Městské části</a></li>
  <li><a href="#okres" data-toggle="tab">Okresy</a></li>
  <li><a href="#awaiting_domestic_people" data-toggle="tab">Zájemci o členství</a></li>
  <li><a href="#account" data-toggle="tab">Krajský účet</a></li>
  <li><a id="mapa" href="#map" data-toggle="tab">Mapa</a></li>
  <li><a href="#unknown-addresses" data-toggle="tab">Nerozpoznaná adresa</a></li>
</ul>


<!-- Tab panes -->

<div class="tab-content">
  <div class="tab-pane active" id="presidium">
  	<h2>Předseda</h2>
    <div class="row">
    <%= render partial: "bodies/person", object: @region.presidium.president %>
    </div>
  	<h2>Místopředsedové</h2>
    <div class="row">
    <%= render partial: "bodies/person", collection: @region.presidium.vicepresidents %>
    </div>
    <h2>Členové a příznivci</h2>
    <div><%= link_to "Export", region_people_path(@region, format: :xls), class: "btn btn-primary btn-lg active" %></div>
</div>

  <div class="tab-pane" id="branches">

<h2>Pobočky</h2>
<table class="table table-striped">
<thead><tr><th>Název pobočky</th><th>Koordinátor</th><th>Telefon</th><th>Email</th><th>Web</th><th>Kmenoví členové</th></thead>
<tbody>
<% @region.branches.each do |branch| %>
<tr>
<th><%= link_to branch.name, branch %></th>
<td><%= branch.coordinator.try(:person).try(:name) %></td>
<td><%= branch.coordinator.try(:person).try(:phone) %></td>
<td><%= mail_to branch.coordinator.try(:person).try(:email) %></td>
<td>  <% unless branch.homepage_url.blank? %>
  [<%=link_to "web", branch.homepage_url %>]
  <% end %></td>
<td><%= branch.domestic_members.count %></td>
</tr>
<% end %>
</tbody>
</table>
  </div>

<div class="tab-pane" id="account">
  <h2>Pohyby na účtu</h2>
    <table class="table table-striped">
      <thead><tr><th>Datum</th><th>Částka</th><th>Název účtu</th><th>Info</th></thead>
      <tbody>
        <% @region.fio_payments.order("datum DESC").each do |payment| %>
        <tr>
        <th><%= l payment.datum.to_date %></th>
        <td><%= payment.amount %></td>
        <td><%= payment.accname %></td>
        <td><%= payment.info %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="tab-pane" id="mestska_cast">
<h2>Městské části</h2>
<table class="table table-striped">
	<thead>
		<tr><th>Městská část</th><th>Kmenoví členové</th></tr>
	</thead>
	<tbody>
<% @region.domestic_members.includes(:domestic_ruian_address).group_by{|m| m.domestic_ruian_address.try(:mestska_cast)}.each do |mestska_cast,members| %>
<tr><th><%= mestska_cast %></th><td><%= members.size %></td></tr>
<% end %>
</tbody>
</table>
  </div>

<div class="tab-pane" id="okres">
<h2>Okresy</h2>
<table class="table table-striped">
  <thead>
    <tr><th>Okres</th><th>Kmenoví členové</th></tr>
  </thead>
  <tbody>
<% @region.domestic_members.includes(:domestic_ruian_address).group_by{|m| m.domestic_ruian_address.try(:okres)}.each do |okres,members| %>
<tr><th><%= okres %></th><td><%= members.size %></td></tr>
<% end %>
</tbody>
</table>
  </div>

<div class="tab-pane" id="unknown-addresses">
<h2>Městské části</h2>
<table class="table table-striped">
  <thead>
    <tr><th>VS</th><th>Městská část</th><th>Kmenoví členové</th></tr>
  </thead>
  <tbody>
<% @region.domestic_people.includes(:domestic_ruian_address).accessible_by(current_ability).reject{|p| p.domestic_ruian_address}.each do |person| %>
<tr><th><%= person.vs %></th><th><%= link_to person.name, person %></th><td><%= person.domestic_address_line %></td><td><%= person.legacy_type%></td></tr>
<% end %>
</tbody>
</table>
  </div>

<div class="tab-pane active" id="map">
    <div id="map-canvas"></div>
</div>

<div class="tab-pane" id="awaiting_domestic_people">
<h2>Zájemci o členství</h2>
<table class="table table-striped">
	<thead>
		<tr><th>ID</th><th>Jméno</th><th>Stav</th><th>Městská část</th><th>Pobočka</th><th></th></tr>
	</thead>
	<tbody>
<% @region.awaiting_domestic_people.includes(:domestic_ruian_address).accessible_by(current_ability).reverse.each do |member| %>
<tr>
<td><%= member.vs %></td>
<td><%= link_to member.name, member %></td>
<td><%= member.member_status%></td>
<td><%= member.domestic_ruian_address.try(:mestska_cast) %></td>
<td><%= member.domestic_branch.try(:name) %></td>
<td>[<%=link_to_member_application(member)%>]</td>
</tr>

<% end %>
</tbody>
</table>
  </div>

</div>

<%
@users = @region.domestic_people.includes(:domestic_ruian_address).accessible_by(current_ability).select{|p| p.domestic_ruian_address}
@hash = Gmaps4rails.build_markers(@users) do |user, marker|
  marker.lat user.domestic_ruian_address.latitude
  marker.lng user.domestic_ruian_address.longitude
  marker.infowindow "#{user.name}<br/>#{user.status_text}"
  marker.picture ({
        "url" => user.is_member? ?
          image_path("Map-Marker-Drawing-Pin-Right-Chartreusen-icon.png") :
          image_path("Map-Marker-Drawing-Pin-Right-Azure-icon.png"),
        "width" =>  36,
        "height" => 36})
end
%>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
});
handler.getMap().setCenter(new google.maps.LatLng(50.1,14.42));
handler.getMap().setZoom(9);
handler.fitMapToBounds();

$('#mapa').on('shown.bs.tab', function (e) {});

initialize();
</script>

