<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Jiří Kubíček">
  <title><%= content_for?(:title) ? yield(:title) : "Svobodní - registr" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "svobodni_logo.png", style: "margin-top: -14px" %></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_person %>
          <li class="dropdown">
            <a href="#" class="dropdown-toogle" data-toggle="dropdown">Republikové orgány</a>
            <ul class="dropdown-menu">
              <% for body in @country.bodies.order_for_display %>
              <li><%= link_to body.name.split("(").first, body %></a></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toogle" data-toggle="dropdown">Kraje</a>
            <ul class="dropdown-menu">
              <% for region in @country.regions.sorted %>
              <li><%= link_to region.name, region %></a></li>
              <% end %>
            </ul>
          </li>
            <% if can? :backoffice, :all %>
            <li class="dropdown">
              <a href="#" class="dropdown-toogle" data-toggle="dropdown">Backoffice</a>
              <ul class="dropdown-menu">
                <li class="sidebar-brand">Backoffice</li>
                <li><%= link_to_unless_current "Osoby", backoffice_people_path %>
                  <ul>
                    <li><%= link_to "Vyhledat", backoffice_people_path %></li>
                    <li><%= link_to "Bez adresy", with_unknown_address_backoffice_people_path %></li>
                    <li><%= link_to "Bez přihlášky", without_signed_application_backoffice_people_path %></li>
                    <li><%= link_to "Členové bez přihlášky", members_without_signed_application_backoffice_people_path %></li>
                    <li><%= link_to "Špatný kraj", with_bad_region_backoffice_people_path %></li>
                    <li><%= link_to "Nové registrace", new_registrations_backoffice_people_path %></li>
                    <li><%= link_to_unless_current "Export adress", addresses_backoffice_people_path(format: 'xls') %></li>
                  </ul>
                </li>
                <% if can? :destroy, Role %>
                <li><%= link_to "Funkce", roles_path %>
                  <ul>
                    <li><%= link_to "Nová funkce", new_role_path %>
                  </ul>
                </li>
                <% end %>
                <li><%= link_to "Pobočky", branches_path %></li>
                <ul>
                  <% if can? :create, Branch %>
                  <li><%= link_to "Nová pobočka", new_branch_path %>
                  <% end %>
                </ul>
                <li><%= link_to "Statistika", backoffice_stats_path %></li>
                  <ul>
                    <li><%= link_to "Aktuální stav", backoffice_stats_path %>
                    <li><%= link_to "Změny", changes_backoffice_stats_path %>
                  </ul>
                <li><a href="http://finance.svobodni.cz/organizations/100">Finance</a></li>
                <li><%= link_to "Logy", backoffice_events_path %></li>
              </ul>
            </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toogle" data-toggle="dropdown"><%=current_person.name%></a>
              <ul class="dropdown-menu">
                <li><%=glyph_nav_link_to "user", "Osobní údaje", personal_profiles_path %></li>
                <li><%=glyph_nav_link_to "lock","Přihlašování", credentials_profiles_path %></li>
                <li><%=glyph_nav_link_to "phone","Sdílené kontakty", contacts_profiles_path %></li>
                <li><%=glyph_nav_link_to "envelope","Adresy", addresses_profiles_path %></li>
                <li><%=glyph_nav_link_to "globe","Hostování", guesting_profiles_path %></li>
                <li><%=glyph_nav_link_to "globe","Členství", membership_profiles_path %></li>
              </ul>
            <li><%= link_to "Odhlásit se", destroy_person_session_path  %></li>
          <% else %>
            <li><%= link_to "Přihlásit se", new_person_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </header>
  <main role="main">
  <div class="container-fluid">
    <div class="row">
      <% if content_for('sidebar') %>

        <div id="wrapper">
        <!-- Sidebar -->
        <%= content_for('sidebar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <% if current_controller?(:profiles) %>
              <div class="col-lg-8">
              <% else %>
              <div class="col-lg-12">
              <% end %>
                <ul class="breadcrumb pull-right"><%= breadcrumbs separator: " / " %></ul>
                <% if @page_title %><h2><%= @page_title %></h2><% end %>
                <% flash.each do |type, message| %>
                <div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <%= message %>
                </div>
                <% end %>
                <%= yield %>

              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

        </div>

      <% else %>
      <div class="col-md-12">
        <ul class="breadcrumb pull-right"><%= breadcrumbs separator: " / " %></ul>
        <% if @page_title %><h2><%= @page_title %></h2><% end %>
        <% flash.each do |type, message| %>
        <div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
        <% end %>

        <%= yield %>
      </div>
      <% end %>
    </div>



  </div>
  </main>

</body>
</html>
